<?xml version="1.0"?>
<launch>
  <!-- collision monitoring -->
  <group ns="/move_group/online_collision_predictor">
    <param name="move_group" value="panda_manipulator"/>
    <param name="rate" value="10"/>
    <param name="horizon" value="0.5"/>
  </group>
  <node name="collision_monitor" pkg="ur3_push_sim2real" type="collision_monitor" required="true" />
</launch>
